# Run on a specific port
PORT=3000

# Database connection string
DATABASE_URI=mongodb+srv://65b2a27bfdde1b82d607282b-prod:b38e2a63fbf6489f2e9e980b779ee7@65b2a27bfdde1b82d607282.yo7ztan.mongodb.net/65b2a27bfdde1b82d607282b-prod
# Used to encrypt JWT tokens
PAYLOAD_SECRET=712kjbkuh87234sflj98713b

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Enable Stripe integration
STRIPE_SECRET_KEY=sk_test_51LmaaYKml1xH0T4UQ5Oa6iuqgWNOknm4JyUYb0Qqc7ohpRa0TFbkHv5qensIFFf7LLoM3NhuWHbuNhKlH3VaKcMM00j3tvKIyd
PAYLOAD_PUBLIC_STRIPE_IS_TEST_KEY=true
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51LmaaYKml1xH0T4UVWtj9V26osyP2WNumvblBLWY0uvuMciHuZaRCC5YNLOGS9LEYkPm7WfeM79hEgUyYy2x25ET00toFRJy1U

# Enable Stripe webhooks (optional) 
STRIPE_WEBHOOKS_SIGNING_SECRET=whsec_4b7d3296ce610225e5bcdcfda4a2570b96973fb92933f0b81cd841362e06ea82

# Allow robots to index the site (optional)
NEXT_PUBLIC_IS_LIVE=

# Used to preview drafts
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key
